

body {
    display: block;
    margin: 8px;
}
.card {
    float: left;
    width: 39px;
    height: 25px;
    text-indent: -9999px;
    background-position: 0 0;
    margin-right: 4px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.card.visa {
    background-image: url(../img/visa.png);
}
.card.master {
    background-image: url(../img/master.png);
}

.cdisabled {
    background-position: 0 -25px;
    opacity: .3;
}

.wrong {
    background-color: brown;
}
